<div class="container mt-4" style="max-width: 75vw">
  <ul class="nav nav-tabs mb-4 justify-content-center">
    <li class="nav-item">
      <button class="nav-link" [class.active]="currentTab === 'all'" (click)="setTab('all')">
        All Tasks
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="currentTab === 'done'" (click)="setTab('done')">
        Done
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        [class.active]="currentTab === 'notDone'"
        (click)="setTab('notDone')"
      >
        Not Done
      </button>
    </li>
  </ul>

  @switch (currentTab) {
    @case ('all') {
      <app-tab
        tabName="All Tasks"
        [tasks]="filteredTasks"
        (edit)="Edit($event)"
        (delete)="Delete($event)"
        (notify)="notify.emit($event)"
      >
      </app-tab>
    }

    @case ('done') {
      <app-tab
        tabName="Done Tasks"
        [tasks]="filteredTasks"
        (edit)="Edit($event)"
        (delete)="Delete($event)"
        (notify)="notify.emit($event)"
      >
      </app-tab>
    }

    @case ('notDone') {
      <app-tab
        tabName="Not Done Tasks"
        [tasks]="filteredTasks"
        (edit)="Edit($event)"
        (delete)="Delete($event)"
        (notify)="notify.emit($event)"
      >
      </app-tab>
    }
  }
</div>
