<div class="container mt-4" style="max-width: 75vw">
  <ul class="nav nav-tabs mb-4 justify-content-center">
    <li class="nav-item">
      <button class="nav-link" [class.active]="currentTab === 'all'" (click)="setTab('all')">
        All Tasks
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="currentTab === 'done'" (click)="setTab('done')">
        Done
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        [class.active]="currentTab === 'notDone'"
        (click)="setTab('notDone')"
      >
        Not Done
      </button>
    </li>
  </ul>

  @switch (currentTab) {
    @case ('all') {
      <app-tab
        tabName="All Tasks"
        [tasks]="filteredTasks"
        (edit)="Edit($event)"
        (delete)="Delete($event)"
        (notify)="notify.emit($event)"
      >
      </app-tab>
    }

    @case ('done') {
      <app-tab
        tabName="Done Tasks"
        [tasks]="filteredTasks"
        (edit)="Edit($event)"
        (delete)="Delete($event)"
        (notify)="notify.emit($event)"
      >
      </app-tab>
    }

    @case ('notDone') {
      <app-tab
        tabName="Not Done Tasks"
        [tasks]="filteredTasks"
        (edit)="Edit($event)"
        (delete)="Delete($event)"
        (notify)="notify.emit($event)"
      >
      </app-tab>
    }
  }
  <div
    class="modal fade"
    id="editTaskModal"
    tabindex="-1"
    aria-labelledby="modalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content position-relative">
        <button
          type="button"
          class="btn-close position-absolute top-0 end-0 m-2"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>

        <app-form [editedTask]="taskToEdit" (onTaskEdited)="closeModalBtn.click()"> </app-form
        ><button #closeModalBtn class="d-none" data-bs-dismiss="modal"></button>
      </div>
    </div>
  </div>

  <button
    #openModalBtn
    class="d-none"
    data-bs-toggle="modal"
    data-bs-target="#editTaskModal"
  ></button>
</div>
