<div class="taskCard" [class.completed]="task?.isDone">
  <input
    type="checkbox"
    [checked]="task?.isDone"
    [disabled]="task?.isDone"
    (change)="done()"
    class="Checkbox"
  />

  <div class="left">
    <h3 [class.strike]="task?.isDone">{{ task?.title }}</h3>
    <p class="subtitle">{{ task?.category }} - Date: {{ task?.date }}</p>
    <p>{{ task?.desc }}</p>
  </div>

  <div class="right">
    <h4 class="priority" [class]="task?.priority">{{ task?.priority }}</h4>

    <div class="iconButtons">
      <button class="iconButton edit" (click)="edit.emit()">✏️</button>
      <button class="iconButton delete" (click)="delete.emit()">🗑️</button>
    </div>
  </div>
</div>
