<form>
  <input type="text" id="title" placeholder="Title" />

  <input type="text" id="desc" placeholder="Desc" />

  <select id="priority">
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
  </select>

  <input type="date" id="date" />

  <select id="category">
    <option value="work">Work</option>
    <option value="personal">Personal</option>
    <option value="study">Study</option>
  </select>

  <input type="text" id="tags" placeholder="Tags" />

  <input type="submit" id="submit" value="Add Task" />
</form>
